/* Font Family Import */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

/* Body Image - Cover All */
body {
  display: flex;
  flex-direction: column;
  background: url('https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}


/* Search Box  */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

/* Search Box Input */
.wrapper .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

/* Search Box Input Button */
.searchBtn {
  background: #008000;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  border: solid white 1px;
}

/* Search Box Input Styling */
.searchBtn:hover {
  background: #38B000;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.searchBtn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}


/* Text Styling */
.textStyle {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.page-footer {
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: rgb(85, 83, 83);
}

p {
  text-align: center;
}

.hide {
  display: none;
}

#saveCombo {
  background-color: #008000;
  color: white;
  width: 200px;
  height: 50px;
  border: solid white 1px;
}

#saveCombo:hover {
  background: #38B000;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

main {
  flex: 1 0 auto;
}

#card {
  padding-top: 30vh;
}

h5 {
  text-align: center;
}

li {
  padding: 10px;
}

h4 {
  text-align: center;
}

#titleText {
  font-size: 35px;
}

@media only screen and (max-width: 600px) {

  #titleText {
    font-size: 20px;
  }

  body {
    background-size: 300vh;
  }
}